

<table>
  <tbody>
    @if(isGame){
      @for(row of board; track row ; let rowidx = $index;){
      <tr>
        @for(column of board[rowidx]; track column; let columnidx = $index){
        <td [class.alive]="board[rowidx][columnidx] >= 10" [class.dead]="board[rowidx][columnidx] < 10"
          (click)="swap(rowidx,columnidx)"></td>
        }
      </tr>
      }
    }
    @else {
    <div>height</div>
    <input type="number" value="30" #height>
    <div>width</div>
    <input type="number" value="30" #width>
    <div>speed in ms</div>
    <input type="number" value="30" #speed>
    <br>
    <div>generations</div>
    <input type="number" value="100">
    <br>
    <button (click)="buildBoard(height.value,width.value,speed.value)">Build board</button>
    }
  </tbody>
</table>
@if(isGame){
  @if (generationInterval == null) {
    <button (click)="start_game()">start game</button>
  }
  @else{
    <button (click)="stop_game()">stop game</button>
  }
  <button (click)="isGame = false">re-build board</button>
  <button (click)="populate()">randomize</button>
}